.console-color {
	color: limegreen;
}

.jumbotron {
	min-height: 100vh;
	margin: 0;
}

.container {
	border: solid 2px limegreen;
	height: 85vh;
	overflow: auto;
}



.nav-link {
	color: limegreen;
}


.navbar {
	margin: 0;
	background-color: transparent;
}

/*form*/

.form-control {
	background-color: transparent;
	border: solid 1px limegreen;
	color: limegreen;
}

.form-control:focus {
	background-color: transparent;
	border: solid 1px limegreen;
	color: limegreen;
}

#sendButton {
	background-color: transparent;
	border: solid 1px limegreen;
	color: limegreen;
}